---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-blue lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Hello, my name is Nika. Over the past two years, I've been passionate about web development,
			 creating websites, and applications. I find joy in continuous learning and tackling challenging
			  tasks. While I have significant experience in project management,
			   I've come to realize my passion lies in programming. 
			   I am an inquisitive and determined individual, always seeking personal and professional growth. 
			   I'm eager to join a like-minded team, where we can collaborate to build innovative products 
			   and optimize processes together.	
		</p>
	</div>
</section>
