<section>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-full">
		<h2 class="font-monospace text-2xl text-blue lg:text-4xl">Education & Internships</h2>
		<span class="my-6 ml-2 h-1 w-10 bg-blue"></span>
	</div>

	<div
		class="mb-8 rounded-lg border border-white p-4 text-justify text-black shadow-inner dark:text-white lg:h-70vh lg:w-full"
	>
		<section id="education" class="py-16">
			<div class="container mx-auto py-10 md:flex md:flex-wrap md:justify-center">
				<div class="mb-10 rounded-lg border border-white p-4">
					<h3 class="mb-2 text-xl font-bold">
						<a
							href="https://en.knutd.edu.ua/"
							class="text-blue"
							target="_blank"
							rel="noopener noreferrer"
							>Kiev National University of Technologies and Design (KNUTD), Master's degree.</a
						>
					</h3>
					<p class="text-gray-600">
						Specialty: Economist. Entrepreneurship, trade, and exchange activity (2013 - 2018)
					</p>
				</div>

				<div class="mb-8 border-l-2 border-white pl-4">
					<h3 class="mb-2 text-xl font-bold">
						<a href="https://deveducation.com/en/" class="text-blue"
							>2022-2023 Frontend 2.0 - DevEducation</a
						>
					</h3>
					<p class="text-gray-600">
						Online international college for frontend development, featuring a virtual laboratory
						and the development of three projects of varying complexity: easy - "Financial Market
						News Blog Project", medium - "Hotel Customer Relationship Management System Project",
						hard - "Chat/Quiz Website". The curriculum includes learning technologies such as
						Node.js, Git, React, Redux, JavaScript, HTML, CSS, and Firebase.
					</p>
				</div>

				<div class="mb-8 border-l-2 border-white pl-4">
					<h3 class="mb-2 text-xl font-bold">
						<a href="https://codeyourpath.eu/" class="text-blue">2023 Frontend - Code Your Path</a>
					</h3>
					<p class="text-gray-600">
						A six-month mentorship program focused on frontend development. Technologies: HTML, CSS,
						JavaScript, Astro, Bash, CSS preprocessors, Git, and GitHub.
					</p>
				</div>

				<div class="mb-8 border-l-2 border-white pl-4">
					<h3 class="mb-2 text-xl font-bold">
						<a href="https://www.growthhungry.life" class="text-blue"
							>2023 Mentorship program "Growth Hungry"</a
						>
					</h3>
					<p class="text-gray-600">
						A three-month mentorship program led by Google engineers. A shadowing internship on a
						project <a
							href="https://planning.how"
							class="font-semibold italic text-blue"
							target="_blank"
							rel="noopener noreferrer"
						>
							Planning.how
						</a> with a team working on a project written in Ruby on Rails that is currently in production.
					</p>
				</div>
				<div class="mb-8 border-l-2 border-white pl-4">
					<h3 class="mb-2 text-xl font-bold">
						<a
							href="https://www.udemy.com/certificate/UC-a4dd09a1-d537-4ef3-bff3-ea11d99098c3/"
							class="text-blue">2024 UDEMY "React, Redux, Redux Toolkit"</a
						>
					</h3>
					<p class="text-gray-600">
						Learning React, Components, JSX, Props, State, how React works internally, JSX to JS
						conversion using Babel compiler, Create React App, component reuse, conditional
						rendering, map method, controlled input fields. Redux, reduser, Book Library App,
						createSlice, handling API requests in Redux.
					</p>
				</div>
			</div>
		</section>
	</div>
</section>
