<section>
	<!-- fix the display  -->
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-blue lg:text-4xl">Education</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-blue"></span>
	</div>

	<div
		class="mb-8 rounded-lg border border-white p-4 text-justify text-black shadow-inner dark:text-white lg:w-1/2"
	>
		<section id="education" class="py-16">
			<div class="container mx-auto py-16 md:flex md:flex-wrap md:justify-center">
				<div class="mb-8 rounded-lg border border-white p-4">
					<h3 class="mb-2 text-xl font-bold">
						<a
							href="https://en.knutd.edu.ua/"
							class="text-blue"
							target="_blank"
							rel="noopener noreferrer"
							>Kiev National University of Technologies and Design (KNUTD), Master's degree.</a
						>
					</h3>
					<p class="text-gray-600">
						Specialty: Economist. Entrepreneurship, trade, and exchange activity (2013 - 2018)
					</p>
					<p class="text-gray-600">English Level: Intermediate</p>
				</div>

				<div class="mb-8 border-l-2 border-white pl-4">
					<h3 class="mb-2 text-xl font-bold">
						<a href="https://deveducation.com/en/" class="text-blue"
							>2022-2023 Frontend 2.0 - DevEducation</a
						>
					</h3>
					<p class="text-gray-600">
						Online international college for frontend development, featuring a virtual laboratory
						and the development of three projects of varying complexity: easy - "Financial Market
						News Blog Project", medium - "Hotel Customer Relationship Management System Project",
						hard - "Chat/Quiz Website". The curriculum includes learning technologies such as
						Node.js, Git, React, Redux, JavaScript, HTML, CSS, and Firebase.
					</p>
				</div>

				<div class="mb-8 border-l-2 border-white pl-4">
					<h3 class="mb-2 text-xl font-bold">
						<a href="https://codeyourpath.eu/" class="text-blue">2023 Frontend - Code Your Path</a>
					</h3>
					<p class="text-gray-600">
						A six-month mentorship program focused on frontend development. Technologies: HTML, CSS,
						JavaScript, Astro, Bash, CSS preprocessors, Git, and GitHub.
					</p>
				</div>

				<div class="mb-8 border-l-2 border-white pl-4">
					<h3 class="mb-2 text-xl font-bold">
						<a href="https://www.growthhungry.life/mentorship" class="text-blue"
							>2023 Mentorship program "Growth Hungry"</a
						>
					</h3>
					<p class="text-gray-600">
						A three-month mentorship program led by Google's top engineers. Collaborated with the
						team on a project written in Ruby on Rails, which is currently in production.
					</p>
				</div>
			</div>
		</section>
<!-- 
		here will be skills with icones -->
		<!-- 
		here will be sertifikates -->
	</div>
</section>
