---
import portImage from '@assets/port.png';
import Button from '@components/ui/Button.astro';

const projectLink = Astro.props.projectLink;
console.log(projectLink);
---

<style>
	@keyframes moveUpDown {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(10px);
		}
	}

	@keyframes smokeAnimation {
		0% {
			opacity: 0.2;
			transform: translateY(0) rotate(0deg);
		}
		25% {
			opacity: 0.5;
			transform: translateY(-5px) rotate(5deg);
		}
		50% {
			opacity: 0.8;
			transform: translateY(-10px) rotate(10deg);
		}
		75% {
			opacity: 0.5;
			transform: translateY(-5px) rotate(5deg);
		}
		100% {
			opacity: 0.2;
			transform: translateY(0) rotate(0deg);
		}
	}

	.hero-section {
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		text-align: center;
		overflow: hidden;
	}

	.hero-section::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(173, 216, 230, 0.2), rgba(173, 216, 230, 0.8));
		z-index: -1;
		animation: smokeAnimation 4s linear infinite;
		filter: blur(60px);
	}

	.hero-text {
		margin: 10px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		z-index: 1;
	}

	.hero-img {
		margin-bottom: 10px;
		display: flex;
		width: 100%;
		justify-content: center;
		animation: moveUpDown 4s linear infinite;
	}

	.hero-img img {
		border-radius: 30%;
	}

	@media (min-width: 766px) {
		.hero-section {
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		.hero-text {
			margin-right: 20px;
		}

		.hero-img {
			margin-left: 20px;
			margin-right: 0;
		}
	}
</style>

<section data-testid="hero" class="hero-section">
	<div class="hero-text">
		<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
			Hello! My name is <span class="font-semibold italic text-blue">Nika</span> and I am a frontend
			developer, below you can check out my projects.
		</h1>
		<div class="mb-10">
			<a href={projectLink} class="flex">
				<Button style={'primary'} size={'lg'} name="Learn more">Explore My Work</Button>
			</a>
		</div>
	</div>

	<div data-testid="hero-img" class="hero-img">
		<img src={portImage.src} alt="portrait" width="600" height="600" />
	</div>
</section>
