---
import portImage from '@assets/images/port.png';
import { Image } from '@astrojs/image/components';
import Button from '@components/ui/Button.astro';
---

<style>
	@keyframes moveUpDown {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(10px);
		}
	}

	.hero-section {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.hero-text {
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.hero-img {
		margin-bottom: 10px;
		display: flex;
		width: 100%;
		justify-content: center;
		animation: moveUpDown 4s linear infinite;
	}

	.hero-img img {
		border-radius: 30%;
	}

	@media (min-width: 766px) {
		.hero-section {
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		.hero-text {
			margin-right: 20px;
		}

		.hero-img {
			margin-left: 20px;
			margin-right: 0;
		}
	}
</style>

<section data-testid="hero" class="hero-section">
	<div class="hero-text">
		<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
			Hi! My name is <span class="font-semibold italic text-blue">Nika</span> and I am a frontend developer
		</h1>
		<div class="mb-10">
			<a href="https://www.linkedin.com/in/veronika-donchenko-033a93266/" class="flex">
				<Button style={'primary'} size={'lg'} name="learn more">Learn more</Button>
			</a>
		</div>
	</div>

	<div data-testid="hero-img" class="hero-img">
		<Image
			src={portImage}
			alt="portrait"
			aspectRatio="4:4"
			format="png"
			width={600}
			height={600}
			loading="eager"
		/>
	</div>
</section>
