---
import MainLayout from "../layouts/main-layout.astro";
import Project from "../components/Project.astro";
import Intro from "../components/Intro.astro";
import MyLinkComponent from "../components/MyLinkComponent.astro";
---
<MainLayout title="Frontend developer">
<Intro />
<Project />
</MainLayout>




<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>